table {font-size:400%; height:80%; width:100%; background-color:gray}
td {height: 10%}
a:link { 
  color: yellow;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:link:active, a:visited:active { 
  color: (internal value);
}
